.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #363535;
    color: #e7dede;
    font-size: x-large;
  }
  
  span {
    color: rgb(77, 217, 217);
    margin-left: 6px;
  }
  
  .logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto; 
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  
  .logout-button:focus {
    outline: none;
  }
  