h1 {
  text-align: center;
  color: #333;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #fffbfb;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 15px;
  width: 100%;
}

mat-error {
  color: red;
  font-size: 12px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* add-vacation.component.css or any other CSS file */
.preview-image {
  max-width: 200px; /* Set the maximum width you desire */
  max-height: 200px; /* Set the maximum height you desire */
  /* You can also add additional styles as needed, such as border, padding, etc. */
}
